
.green_black{
	background-color: #75893E;
}

.grey_1{
	background-color: #9e9e9e;
}

.phone{
	left: 17%;
	position: absolute;
}

input.border::placeholder {
	text-align: center;
	font-size: 120%;
}

.password{
	top: 40%;
	position: absolute;
}
